<header class="header">
  <h1 class="header__title"><i class="fab fa-youtube"></i>Buscador de series</h1>
  <form>
    <label for="serie"></label>
    <input id="serie" name="serie" type="text" placeholder="Juego de tronos" class="js-serie serie-text" required>
    <input type="submit" value="Buscar" class="js-search search-button">
  </form>
  <aside class="favourite-container">
    <h2 class="favorite-title">Series favoritas</h2>
    <button class="reset-button js-reset-button">Borrar favoritos</button>
    <ul class="favourite-list js-favourite-list"></ul>
  </aside>
</header>
