// fonts
$font-main: 'Bangers', cursive;

// colors
$color-light-primary: #d8c3c8;
$color-light-secondary: #E7B8CC;
$color-light-texts: #e4e4e4;
$color-medium-primary: #805c63;
$color-dark-primary: #BB304D;
$color-dark-secondary: #80001c;
$color-absolute-light: #f0f0f0;
$color-light-accenture: #CFEA92;
$color-dark-accenture: #9ebe53;
$color-absolute-dark: #000000;
