.serie-container {
  border: 3px solid red;
  background-color: rgb(136, 155, 238);
  width: 250px;
  height: 350px;
  text-align: center;
}

.main {
  border: 3px solid blue;
  background-color: rgb(238, 136, 238);  
  height: 90vh;
}

.serie-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}