.wrapper {
  margin: 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    display: flex;
    flex-direction: row;
  }
}

.body {
  background-color: $color-light-primary;
  color: $color-light-texts;
}

.header {
  //border: 3px solid #ff0000;
  padding: 15px;
  background-color: $color-medium-primary;
  border-radius: 10px;
  min-width: 350px;
  width: 350px;
  @include tablet {
    min-width: 350px;
    width: 350px;

  }
  .console-button {
    background-color: #BB304D;
    width: 80px;
    height: 30px;
    border-radius: 20px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 40px;
    color: $color-light-texts;
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
    .popcorn {
      position: relative;
      transform: translate(0px, 20px);
    }
  }
  &__claim {
    margin-bottom: 10px;
    & .fa-tv {
      margin-left: 10px;
    }
  }
  &__form {
    & .serie-input{
      color: $color-dark-primary;
      padding: 2px 5px;
      &::placeholder {
        color:$color-medium-primary;
      }
    }
    & .search-button {
      background-color: $color-dark-primary;
      width: 80px;
      height: 30px;
      border-radius: 20px;
    }
  }
  &__favourite__container {
    margin: 20px 0;
    & .favorite-title {
      display: inline-block;
    }
    & .reset-button {
      margin-bottom: 5px;
      background-color: $color-dark-primary;
      width: 132px;
      height: 30px;
      border-radius: 20px;
      margin-left: 17px;
    }
     & .favourite-list {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      overflow-y: scroll;
      height: 364px;
      @include tablet {
        height: 600px;
      }
      /* width */
      &::-webkit-scrollbar {
        width: 15px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: $color-medium-primary;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $color-light-secondary;
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $color-dark-primary;
      }
      .serie-container-small {
        //border: 3px solid red;
        background-color: $color-light-secondary;
        color: $color-medium-primary;
        border-radius: 10px;
        padding: 5px 5px;
        margin: 5px;
        text-align: center;
        font-size: rem(10);
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        height: 110px;
        & img {
          background-image: cover;
          border-radius: 10px;
        }
        & h3 {
          font-size: rem(18);
        }
        & .cross-button {
          transform: translate(0px, -35px);
          border-radius: 50%;
          background-color: $color-medium-primary;
          width: 30px;
          height: 30px;
          flex-shrink: 0;
          & .fas {
            color: $color-absolute-light;
            font-size: rem(18);
          }
        }
      }
    }
  }
}

.main {
  background-color: $color-light-primary;
  display: flex;
  align-items: center;
  & .start {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translate(25vw, 0px);
    }
    &__title {
      color: $color-dark-primary;
      font-size: rem(40);
      letter-spacing: 2px;
      @include tablet {
        font-size: rem(80);
      }
    &__popcorn {
        transform: translate(0px, 20px);
        height: 100px;
        @include tablet {
          transform: translate(0px, 40px);
          height: 200px;
        }
      }
    }
    & .start-tv {
      height: 400px;
      @include tablet {
        height: 600px;
      }
    }
    &__claim {
      margin-left: 20px;
      color: $color-medium-primary;
      font-size: rem(20);
    }
  }
  &__result__container {
    & .list-results {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      overflow-y: scroll ;
      height: 500px;
      @include tablet {
        height: 785px;
      }
      .error {
        color: $color-medium-primary;
        padding: 50px;
        font-size: rem(30);
      }
      /* Scrollbar hidden */
      &::-webkit-scrollbar {
        display: none;
      }
      & .serie-container {
        background-color:$color-dark-primary;
        border: 2px solid $color-dark-secondary;
        box-shadow: 3px 3px $color-dark-secondary;
        border-radius: 30px;
        margin: 10px;
        width: 150px;
        height: 250px;
        text-align: center;
        font-size: rem(14);
        @include tablet {
          border-radius: 30px;
          margin: 10px;
          width: 250px;
          height: 370px;
          text-align: center;
          font-size: rem(14);
        }
        & h2 {
          padding: 10px;
        }
        & img {
          border-radius: 20px;
          height: 150px;
            @include tablet {
            border-radius: 30px;
            height: fit-content;
          }
        }
        & .days {
          overflow-x: hidden;
          ::-webkit-scrollbar {
            display: hidden;
          }
        }
      }
      //hightlight favourites
      & .js-favourite {
        background-color: $color-light-accenture;
        border: none;
        color: $color-dark-primary;
        box-shadow: 3px 3px $color-dark-accenture;
      }
    }
  }
}

.footer {
  color: $color-medium-primary;
  font-size: rem(20);
  padding: 10px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include tablet {
    position: fixed;
    bottom: 0px;
    color: $color-medium-primary;
    font-size: rem(20);
    padding: 10px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

//hide sections
.hidden {
  display: none;
}




