* {
  font-family: 'Roboto', sans-serif;
}
button:focus{
  outline: none;
}  

.wrapper {
  margin: 20px 20px 0;
  display: flex;
  flex-direction: row;
}

.body {
  background-color: #BB304D;
  color: rgb(228, 228, 228);
}

.header {
  //border: 3px solid #ff0000;
  padding: 10px;
  background-color: #D28A74;
  border-radius: 30px;
  min-width: 350px;
  width: 350px;
  & .serie-text{
    color: rgb(136, 6, 6);
    &::placeholder {
      color:#805c63;
    }
  }
  & .search-button {
    background-color: #c0294a;
    width: 80px;
    height: 30px;
    border-radius: 20px;
  }
}

.favourite-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.serie-container-small {
  //border: 3px solid red;
  background-color: #E7B8CC;
  color: #805c63;
  border-radius: 20px;
  padding: 5px 5px;
  margin: 5px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  & img {
    background-image: cover;
    border-radius: 10px;
  }
  & .cross-button {
    transform: translate(0px, -35px);
    border-radius: 50%;
    background-color: black;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    & .fas {
      color: #f0f0f0;
      font-size: 18px;
    }
  }
}


.serie-container {
  background-color: #BB304D;
  border: 2px solid #80001c;
  box-shadow: 3px 3px #80001c;
  border-radius: 50px;
  margin: 10px;
  width: 250px;
  height: 370px;
  text-align: center;
  font-size: 14px;
  & h2 {
    padding: 10px;
  }
  & img {
    border-radius: 30px;
  }
}

.main {
  //border: 3px solid blue;
  background-color: #BB304D;
  min-height: 720px;
}

.list-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer {
  position: relative;
  padding: 20px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.js-favourite {
  background-color: #CFEA92;
  border: none;
  color: #BB304D;
  box-shadow: 3px 3px #9ebe53;
}